#background{
    background-color: rgb(204, 182, 182);
    background-size: cover;
}

#paper{

    background-color: white;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#a_navbar{
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    background: -webkit-linear-gradient(left, Black 50%, blue 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#area{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#mensagens{
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
}

#footer{
    background-color: rgb(226, 223, 223);
    color: white;
    text-align: right;
    padding-right: 10px;
}

#listaItens{
   margin-left: 25%;
}
#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:8px;
}
#sub-btn{
  border:0px;
  width:120px;
  height:30px;
  border-radius:4px;
  margin-top:10px;
  background-color: blue;
}
#sub-btn:hover{
  box-shadow: 5px 5px 5px rgba(0,0,255,0.7);
  transform: scale(1.2);
  color:white;
}
#contact-links{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:8px;
}
.ct-link{
  text-decoration: none;
  color: rgba(0,0,255,0.5);
}
.ct-link:hover{
  color: blue;
}
#ct-title{
  color:rgba(0,0,255,1);
}

#team{
  display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}